/*style.css*/
.wrapper {
  margin: 15px auto;
  width : 70%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  box-shadow: 0 0 5px 0 grey;
  background-color: white;
  position : relative;
}
.container{
margin: 15px auto;
width : 70%;

}

input{
  height: 30px;
  width: 60%;
  border: 1px solid lightgray;
  border-radius:5px;
  margin : 10px 20px;
  padding : 5px;
}
button{
  height: 30px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-left : 20px;
  

}
.wrapper:hover {
  background-color: lightgray;
}

.control{
  position : absolute;
  right : 5%;
}
hr{
  border : 0.7px solid #ccc;
  margin-top: 20px;
}
span{
  color : orangered;
}
li{
  list-style-type: none;
  margin-left : 20px;
}
